<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>We are in the about page for  <%= gender %></h1>

    <% if (gender =="female") { %>
        <h1>This user is a female</h1>
    <% } %>



    <% if (gender=="male") { %>
     <h1>This person is a male</h1>
    <%  } else { %>
        <h1>This person is a female</h1>
    <% } %>

    
   <div class="d-flex gap-3 flex-wrap">
    <% for( let i = 0; i < users.length; i++ ) { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= users[i].username %></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary"><%= users[i].email %></h6>
              <p class="card-text"><%= users[i].address%></p>
              

              <div class="d-flex gap-2 ">
               <form action="/editUser/<%= i %>" method="get">
                <button class="btn btn-dark">Edit</button>
               </form>

                <form action="/deleteUser/<%= i %>" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
    <% } %>
   </div>

   <a href="/addUser">Add more Users</a>

   <%# This is another loop, you can use this if you like %>

<!-- 
   <div class="d-flex gap-3 flex-wrap">
        <%users.forEach((user, i) => { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= user.name %></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        <% }) %>
   </div> -->




    <script>
        
    </script>
     
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>